*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}


body,html{
    width: 100%;
    height: 100%;
}


#main{
    width: 100%;
    position: relative;
    /* height: 100%; */
    /* background-color: red; */
    background-color: #dadada;

}



#loader{
    width: 100%;
    height: 100%;
    background-color: rgb(10, 85, 154);
}




#loader h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: 3px;
    word-spacing: 5px;
}

#reveal .parent{
    display: block;
    /* background-color: red; */
    overflow: hidden;
}


.reveal .parent{
    display: flex;
    /* background-color: red; */
    overflow: hidden;
}


.reveal .parent .child{
    display: block;
    

}


#name{
    margin-left: 3vw;
}

#kumar{
    display: inline-block;
    margin-left: 3vw;
    /* background-color: green; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.is{
    display: inline-block;
}

.a{
    display: inline-block;
}

.reveal .parent .child span{
    display: inline-block;
    

}






#topheading{
    position: absolute;
    top: 5%;
    left: 50%;
    

}


#topheading h5{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    
    
}



#green{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 0;
    background-color: rgb(177, 200, 177);
}



#home{
    width: 100%;
    /* height: 100%; */
    background-color: #dadada;
}


#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    line-height: 1;
    position: sticky;
    
    

}


#nav a{
    margin: 1vw 2vw;
    text-decoration: none;
    text-transform: uppercase;
    color: white;

}


.line{
    display: inline-block;
    width: 100%;
    height: 1px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
    background-color: rgb(240, 236, 167);
}


#content{
    
    margin: 4vw 5vw;
    font-family: 'Gilroy';
}


#content h1{
    text-transform: capitalize;
    font-size: 8vw;
}


#content-devlopment{
    display: flex;
    flex-direction: row;
    gap: 5vw;
    margin-left: 10vw;
}




#imagery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10vw 7vw;

}



#imglef{
    display: flex;
    height: 20vw;
    width: 30vw;
 
}



#imgrig{
  
    height: 35vw;
    width: 25vw;
    transform: translate(10px 10px);
    transition-duration: 1s;
}



#imgcntnr{
    position: absolute;
    width: 30vw;
    height: 45vw;
    border-radius: 10vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;


}



#imgcntnr:nth-child(1){
   
    transform:rotate(-10deg);
    object-fit: cover;
    height: 30vw;
    width: 30vw;
    transform: translate(-90px, -100px) rotate(-20deg);


    

}
#imgcntnr:nth-child(2){
    
    
    object-fit: cover;
    transform: translate(-40px, 150px) rotate(-20deg);



}
#imgcntnr:nth-child(3){
   
    object-fit: cover;
    transform: translate(0px, 300px);
    

}



#images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 4vw 4vw; */
    /* margin-top: 40vw; */
    margin-left: 4vw;
    /* overflow: scroll; */
    transition: filter cubic-bezier(0.19, 1, 0.22, 1) 2s;
    
}


#img1{
    width: 70%;
    height: 60%;
}


#cursor{
    position: fixed;
    width: 17vw;
    top: 0;
    left:0;
    z-index: 999999;
}

#cursor >div{
    pointer-events: none;
    opacity: 0;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .3s;
}

#elem{
    width: 100%;
    position: relative;
}

#crow{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: .6vw;
}


#ccircle{
    padding: .7vw 3vw;
    border-radius: 100px;
    background-color: #fff;
}


#elem img{
    width: 100%;
    opacity: 0;
    animation: an 4s linear infinite;     /* total 4s me linear speed per infinite chalegi */

    position: absolute;
}


#elem img:nth-child(2){
    animation-delay: .5s;
}
#elem img:nth-child(3){
    animation-delay: 1.2s;
}
#elem img:nth-child(4){
    animation-delay: 2.5s;
}



@keyframes an{
    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    21%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
}



#work{
    background-color: red;
}